// app global css
@font-face {
  font-family: 'iconfont';  /* project id 283220 */
  src: url('//at.alicdn.com/t/font_283220_ntyvnw62yr.eot');
  src: url('//at.alicdn.com/t/font_283220_ntyvnw62yr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_283220_ntyvnw62yr.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_283220_ntyvnw62yr.woff') format('woff'),
  url('//at.alicdn.com/t/font_283220_ntyvnw62yr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_283220_ntyvnw62yr.svg#iconfont') format('svg');
}

[class*="ui-icon-"]{font-family:iconfont!important;font-style:normal;-webkit-font-smoothing:antialiased;-webkit-text-stroke-width:.2px;-moz-osx-font-smoothing:grayscale}
.ui-icon-shousuo:before{content:"\e656";font-size:1.4rem; color: #fff; margin-left: 5px;}
.ui-icon-man:before{content:"\e650"; color:#4395ff;}
.ui-icon-woman:before{content:"\e610";}
.ui-icon-motion:before{content:"\e6e4";}
.ui-icon-music:before{content:"\e600";}
.ui-icon-cate:before{content:"\e654";}
.ui-icon-books:before{content:"\e601";}
.ui-icon-movie:before{content:"\e60d";}
.ui-icon-shuoshuo:before{content:"\e72d";}
.ui-icon-travel:before{content:"\e65d";}
.ui-icon-album:before{content:"\e6af";}
.ui-icon-video:before{content:"\e606";}
.ui-icon-knowledge:before{content:"\e645";}
.ui-icon-project:before{content:"\e617";}
.ui-icon-resume:before{content:"\e623";}
.ui-icon-mailbox:before{content:"\e665";}
.ui-icon-seting:before{content:"\e61a";}
.ui-icon-comment:before{content:"\e621";}
.ui-icon-forward:before{content:"\e65f";}
.ui-icon-new:before{content:"\e619";}